/* Grundinställningar */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%; /* Säkerställ att sidan tar upp hela höjden */
  background: linear-gradient(135deg, #e2e2e2, #eaeaea);
  color: #fff;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #000000e8;
  color:  rgb(216, 216, 216);
  text-align: center;
  padding: 10px 0;
}

header h1 {
  font-size: 1.2rem;
  margin: 0;
}

#info {
  font-size: 1.2rem;
  margin: 5px 0;
}

.game-container {
  flex: 1; /* Gör att detta fyller ut mellan header och footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #000000de;
  color: white;
  text-align: center;
  padding: 0; /* Ta bort eventuell extra padding */
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
  height: 40px; /* Specifik höjd för att hålla footern kompakt */
  display: flex;
  align-items: center; /* Vertikal centrering */
  justify-content: center; /* Horisontell centrering */
  flex-shrink: 0; /* Förhindra att footern krymper */
}

#start-btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  background: #d74ef2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#start-btn:hover {
  background: #fce4ec;
}

#circle {
  width: 50px;
  height: 50px;
  background: hsla(287, 100%, 62%, 0.698);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: none;
}

#circle:active {
  transform: scale(0.9);
}

.burst {
  position: absolute;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, #ffffff, transparent);
  border-radius: 50%;
  pointer-events: none;
}
